:root{
    --backgroundColor:rgb(255, 255, 255);
    --secondColor: #000000;
}

body{
    background-color: var(--backgroundColor) !important;
    color: rgb(11, 11, 12) !important;
    font-family: 'SF Pro Text', 'Helvetica Neue', sans-serif !important;
}
header{
    padding: 2em;
    padding-top: 0 !important;
}
h1{
    font-size: 50px !important;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#progress h3{
    font-weight: bold;
    font-size: 1em;
}
#progressBar{
    height: 30px;
    background: linear-gradient(135deg, #b967ff, #ffb6cc);
    color: white;
    border-radius: 4px;
    transition: width 0.3s ease;
    border-radius: 4em;
}
#progress-container{
    border: 1px solid #dddddd;
    border-radius: 4em;
    box-shadow: 0 0 10px 0 #efefef;
}

#caseInput{
    padding: 10px 30px;
    width: 100%;
    max-width: 20em;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid #dddddd;
    box-shadow: 0 0 10px 0 #efefef;
}
button{
    border: none;
    background-color: var(--secondColor) ;
    color: var(--backgroundColor);
    padding: 1em 1.5em;
    border-radius: 10px !important;
    width: 100%;
    max-width: 20em;
    margin: 0 20px;
}

#cases-list{
    margin-top: 40px;
    border-top: 1px solid #efefef;
    padding-top: 20px;
}
#cases-list li{
    list-style-type: none;
    margin: 10px;
}
.card{
    box-shadow: 0 0 10px 0 #efefef;
    border: 1px solid #efefef !important;
}
#cases-container button{
    margin-top: 10px;
    text-align: center;
}
